
*{
    -fx-padding: 0;
    -fx-end-margin: 0;
}
.background{
    -fx-background-color: #296930;
}
.title{
    -fx-text-fill: #fedb00;
    -fx-background-color: black;
    -fx-font-family: "Comic Sans MS";
}
#menuBar{
    -fx-start-margin: 10;
}
.buttons{
    -fx-padding: 10;
    -fx-background-color: #D92F29;
}
.table{
    -fx-background-color:  transparent;
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-alignment: CENTER;
}
.table-row-cell {
    -fx-table-cell-border-color: transparent;
}
.table-row-cell:odd{
    -fx-background-color: FEDB00;
    -fx-background-insets: 0,0 0 1 0;

}
.table-row-cell:even{
    -fx-background-color: BEDB00;
    -fx-background-insets: 0,0 0 1 0;
}
